<launch>
  <node name="arduino_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" type="string" value="/devttyACM0"/>
    <param name="baud" type="int" value="57600"/>
  </node>

  <node name="pulish_power_info" pkg="motor_test" type="pub_power.cpp" output="screen">
    <param name="power" value="10.0/10.0"/>
  </node>
</launch>